*{
    margin: 0;
    padding: 0;
}

/*@mixin align-center {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    letter-spacing: 8px;
    color: whitesmoke;
}

.parallax-wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* perspective relates to z-axis */
    perspective: 300px;
}

.intro-screen {
    height: 100vh;
    /*background-color: rgba(7, 162, 220, 0.99);*/
    background-image: url("/images/image6.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-screen > span{
    background-color: #424242;
    padding: 10px;
}

.outro-screen {
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.99);
    /*background-image: url("/img/image3.jpg");*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-group{
    position: relative;
    height: 100vh;
    /* preserve3d makes sure when we give depth (z axis) it maintains the 3d perspective and NOT FLATTEN it */
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    /* inset = top 0,  bottom 0 left 0 right 0*/
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-layer{
    /*
    Scale calculation: 1 + (translateZ * -1) / perspective
    1 + ((-300 * -1) / - 300) = 2
    */
    transform: translateZ(-300px) scale(2);
}

.mid-layer{

    transform: translateZ(0);
}

.top-layer{
    transform: translateZ(210px) scale(0.3);
}

#intro{
    z-index: 0;
}

#group-1{
    /*
    to push group-1 back behind intro so it is not covered
    */
    z-index: -1;
    width: 102%;
}


#group-1 > .base-layer{
    /*background-color: crimson;*/
    background-image: url("/images/image5.jpg");
}

#group-2 > .mid-layer{
    /*background-color: teal;*/
    background-image: url("/images/image3.jpg");
}

#outro{}



